.btn {
  background-image: var(--gradient-color);
  font-size: var(--s-font-size);
  color: var(--white-font-color);
  border-radius: 0.25rem;
  outline: none;
  border: none;
  transition: 0.8s;
  padding: 1rem 2.5rem;
}
.fullW {
  width: 100%;
}
.btn:hover {
  background-image: var(--gradient-color-hover);
  cursor: pointer;
}
