.logoText {
  font-family: var(--header-font);
  font-size: var(--xl-font-size);
  font-weight: 700;
  color: var(--white-font-color);
}
.linked {
  color: var(--bright-purple);
}
.logoText:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .logoText {
    font-size: 1.25rem;
  }
}
