.faqSectionContainer {
  border-bottom: 0.062rem solid rgba(255, 255, 255, 0.18);
}
.faqSectionContent {
  max-width: 1200px;
  padding: 4.5rem 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftSide {
  width: 42%;
}
.title {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 2rem;
  width: 80%;
  color: var(--white-font-color);
  margin-bottom: 1rem;
}
.subTitle {
  color: var(--white-font-color);
  font-family: var(--text-font);
  width: 100%;
  line-height: 1.72rem;
  margin-bottom: 4rem;
}

.faq-container {
  padding: 1.56rem 0 0.81rem 0;
  border-bottom: 1px solid var(--bright-purple);
}
.question-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question {
  font-size: var(--xs-font-size);
  line-height: 1.72rem;
  font-family: var(--text-font);
  color: var(--white-font-color);
}
.answer {
  font-size: var(--xs-font-size);
  margin-top: 0.5rem;
  font-family: var(--text-font);
  color: var(--white-font-color);
}

.rightSide {
  width: 55%;
}
.faqImage {
  width: 100%;
}
.colouredText {
  color: var(--bright-purple);
}
.boldText {
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .faqSectionContent {
    padding: 2rem 1.5rem;
    flex-direction: column;
  }
  .title {
    font-size: var(--md-font-size);
    text-align: center;
    width: 100%;
  }
  .subTitle {
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .leftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightSide {
    width: 80%;
    margin-top: 4rem;
  }
  .question {
    font-size: 0.75rem;
  }
}
