.inputPair {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48%;
}
.label {
  color: var(--white-font-color);
  font-size: var(--xs-font-size);
  font-family: var(--text-font);
  margin-bottom: 0.5rem;
}
.input {
  padding: 0.5rem 0.3rem;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  border: 1px solid var(--white-font-color);
  outline: none;
  color: var(--white-font-color);
  font-size: var(--xs-font-size);
  font-family: var(--text-font);
}
.input::placeholder {
  font-size: 0.75rem;
}
@media screen and (max-width: 480px) {
  .inputPair {
    width: 100%;
  }
}
