.typeText {
  font-size: var(--xl-font-size);
  font-family: var(--text-font);
  color: var(--white-font-color);
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 480px) {
  .typeText {
    font-size: var(--s-font-size);
  }
}
