.heroContainer {
  position: relative;
  height: 85vh;
  border-bottom: 0.062rem solid rgba(255, 255, 255, 0.18);
  padding-top: 2rem;
}
.heroContent {
  padding-left: 8rem;
  padding-right: 8rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 75vh;
  position: relative;
}
.typewriterContainer {
  position: absolute;
  right: 3.44rem;
}
.typeSetIcon {
  position: absolute;
  right: 3.44rem;
  top: 4.87rem;
}

.leftSection {
  width: 70%;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
}
.heroHeader {
  font-family: var(--header-font);
  font-size: var(--xxl-font-size);
  font-weight: 700;
  color: var(--white-font-color);
}
.span {
  color: var(--bright-purple);
}
.textIcon {
  width: 48px;
}
.techText {
  position: relative;
}
.creativeIcon {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
}
.heroSubheader {
  font-size: var(--md-font-size);
  font-family: var(--text-font);
  color: var(--white-font-color);
  margin-top: 0.5rem;
  width: 72%;
}
.buttonContainer {
  margin-top: 2.56rem;
}

.heroImage,
.heroImage2 {
  width: 40%;
  position: absolute;
}
.heroImage {
  bottom: 0;
  right: 0;
}
.heroImage2 {
  right: 5.94rem;
  bottom: 0;
}

.purpleFlare,
.purpleFlare2 {
  width: 30%;
  position: absolute;
  /* z-index: 1; */
}
.purpleFlare {
  top: -1rem;
  left: 16rem;
}
.purpleFlare2 {
  bottom: -1rem;
  right: 16rem;
}
@media screen and (max-width: 480px) {
  .heroContainer {
    height: 90vh;
  }
  .heroContent {
    padding: 0 1.5rem;
  }
  .heroHeader {
    font-size: 2rem;
  }
  .typeSetIcon {
    width: 7rem;
    right: 1.5rem;
    top: 3.5rem;
  }
  .typewriterContainer {
    right: 1.5rem;
  }
  .creativeIcon {
    width: 1.1rem;
    bottom: 2rem;
    right: 1rem;
  }
  .leftSection {
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .heroHeader {
    text-align: center;
  }
  .heroSubheader {
    font-size: 0.8rem;
    text-align: center;
  }
  .textIcon {
    width: 1.4rem;
  }
  .heroImage,
  .heroImage2 {
    width: 100%;
    padding-top: 1rem;
  }
  .heroImage2 {
    right: 0;
  }
}
